*.DS_Store
.bundle/
.idea/
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.*.swp
pkg/
spec/dummy_server.out
spec/dummy_server/log/*.log
spec/dummy_server/tmp/
spec/dummy_server/vendor/bundle/
spec/dummy_server/public/system/
