<% if @available_networks.empty? %>
    <p>No networks in range</p>
<% else %>
    <table>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Security</th>
      </tr>
      <%= partial 'network', collection: @available_networks  %>
    </table>
<% end %>