<tr>
  <td><%= network.ssid %></td>
  <td><%= format_mode(network.mode) %></td>
  <td><%= format_security(network.security) %></td>
  <td><button type="button" class="btn btn-primary btn-sm">Connect</button></td>
</tr>


