<div class="form-group">
  <label for="key">Key</label>
  <input name="wireless_network[key]" type="text" class="form-control" id="key" placeholder="Key" value="<%= wireless_network.try :key %>">
</div>
