<tr>
  <td><%= wireless_network.ssid %></td>
  <td class="hidden-small"><%= format_mode wireless_network.mode %></td>
  <td><%= format_security wireless_network.security %></td>
  <td class="align-right">
    <% if wireless_network.encrypted? %>
      <form action="/wireless_networks/authenticate" method="get">
    <% else %>
      <form action="/wireless_networks/connect" method="post">
    <% end %>
      <%= hidden_fields wireless_network %>
      <input type="submit" value="Connect" class="btn btn-primary btn-sm" />
    </form>
  </td>
</tr>


