<% if @available_networks.empty? %>
  <div class="center-block fixed-width alert alert-warning">No networks in range</div>
<% else %>
  <div class="content">
    <p class="lead">Available networks:</p>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Mode</th>
        <th>Security</th>
        <th></th>
      </tr>
      <%= partial 'network', collection: @available_networks  %>
    </table>
  </div>
<% end %>
