<div class="form-group">
  <label for="key">Key</label>
  <input name="wireless_network[key]" type="text" class="password form-control" id="key" placeholder="Key" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
</div>
