<div class="form-group">
  <label for="passphrase">Passphrase</label>
  <input name="wireless_network[passphrase]" type="text" class="password form-control" id="passphrase" placeholder="Passphrase" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
</div>
