<div class="content">
  <form class="max-width center-block" action="/firmware_upgrade" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="upgradePackage">Select firmware upgrade package</label>
      <input name="upgrade_package" type="file" id="upgradePackage">
    </div>
    <button type="submit" class="btn btn-primary">Upgrade</button>
  </form>
</div>
