<div class='container-fluid'>
  <div class='row row-centered'>
    <div class='col-md-2 col-centered col-min'>
      <form action='/print_file_uploads/new'>
        <button type='submit' class='btn btn-default btn-lg btn-fixed'>
          <span class='glyphicon glyphicon-open glyphicon-big' aria-hidden='true'></span><br>Load print file
        </button> 
      </form>
    </div>
    <div class='col-md-2 col-centered col-min'>
      <form action='/wireless_networks'>
        <button type='submit' class='btn btn-default btn-lg btn-fixed'>
          <span class='glyphicon glyphicon-signal glyphicon-big' aria-hidden='true'></span><br>Connect to wireless network
        </button> 
      </form>
    </div>
    <div class='col-md-2 col-centered col-min'>
      <form action='/firmware_upgrade'>
        <button type='submit' class='btn btn-default btn-lg btn-fixed'>
          <span class='glyphicon glyphicon-cog glyphicon-big' aria-hidden='true'></span><br>Upgrade firmware
        </button> 
      </form>
    </div>
    <div class='col-md-2 col-centered col-min'>
      <form action='/logs'>
        <button type='submit' class='btn btn-default btn-lg btn-fixed'>
          <span class='glyphicon glyphicon-save glyphicon-big' aria-hidden='true'></span><br>Download logs
        </button> 
      </form>
    </div>
  </div>
</div>
