<!DOCTYPE html>
<html>
<head>
  <title>Ember Web Interface</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/hideShowPassword.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ember</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/print_file_uploads/new">Load print file</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/wireless_networks">Wireless setup</a></li>
            <li><a href="/firmware_upgrade">Upgrade firmware</a></li>
            <li><a href="/logs">Download logs</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% flash.keys.each do |key| %>
  <% if key == :error %>
    <div class="alert alert-danger center-block"><%= flash[:error] %></div>
  <% elsif key == :success %>
    <div class="alert alert-success center-block"><%= flash[:success] %></div>
  <% elsif key == :info %>
    <div class="alert alert-info center-block"><%= flash[:info] %></div>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
