<script>
  // Prevent duplicate form submission
  $(document).ready(function() { $('form').preventDoubleSubmission('Uploading...'); });
</script>
<div class="content">
  <form class="max-width center-block border" action="/print_file_uploads" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="printFile">Select print file to load</label>
      <input name="print_file" type="file" id="printFile">
    </div>
    <button type="submit" class="btn btn-primary">Load</button>
  </form>
</div>
