<div class="content">

  <% if @last_wireless_network %>
    <p class="lead">Last configured wireless network:</p>
    <table class="table">
      <tr>
        <td><%= @last_wireless_network.ssid %></td>
        <td class="align-right">
          <% if @last_wireless_network.encrypted? %>
            <form action="/wireless_networks/authenticate" method="get">
          <% else %>
            <form action="/wireless_networks/connect" method="post">
          <% end %>
            <%= hidden_fields @last_wireless_network %>
            <input type="submit" value="Connect" class="btn btn-primary btn-sm" />
          </form>
        </td>
      </tr>
    </table>
  <% end %>

  <div class="clear-fix">
    <p class="pull-left lead">Available wireless networks:</p>
    <button onClick="document.location.reload(true)" class="pull-right btn btn-primary">Refresh</button>
  </div>
  <br>

  <% unless @wireless_networks.empty? %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th class="hidden-small">Mode</th>
        <th>Security</th>
        <th></th>
      </tr>
      <%= partial 'wireless_network', collection: @wireless_networks  %>
    </table>
  <% end %>

  <% if @wireless_networks.empty? %>
    <div class="center-block alert alert-warning">No wireless networks in range</div>
  <% end %>

</div>
